body {
    /* border: 5px dashed red; */
    min-height:100vh;
    /* background-image: url('./images/paper11.jpg'); */
    background-color:rgb(87, 100, 68);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    /* color: white; */
    font-family: 'Knewave', sans-serif;
    font-size: 40px;
}

#mainPageButt1 { 
    /* This is the button on the main index */
    font-family: 'Special Elite', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-top: 23vh;
}

#mainPageButt2 {
    font-family: 'Special Elite', sans-serif;
}


#loginTitle {
    font-family: 'Special Elite', sans-serif;
}

#loginForm {
    font-family: 'Special Elite', sans-serif;
    margin-left: 25vw;
    margin-right: 25vw;
}

.loginComponents {
    border: 5px solid black;
}